* {
  margin: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-color: rgb(235, 174, 232);}

main {
    border: 2px solid black;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(150, 109, 204);
}

select{
    font-size: 16px;
}

button{
    font-size: 16px;
    font-weight:bold;
}